<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="/styles.css">
<script src="vanilla.js" type="text/javascript" defer></script>
	<meta charset="utf-8">
</head>

<body>
<section>
<button id="btnScrollTop">
  <i class="material-icons">arrow_upward</i>
</button>

  <header>
    

    <div class="container">

<h1 class="big-title translate" data-speed="1"> JOIN US
  <span> Input your email to join - <strong> <%= count %> </strong> - others. We are not a cult.
  </span>
</h1>

    
         

   
    
    <img src="layer1.png" class="layer1 translate" data-speed=".6" alt="">
   
    
    
  
  
    </div>
  </header>
  

<div class="content">
    <div id="space-between">
        
    </div>

    <div id="project-container">
        
        <div id="first-side">
        <h3 class="title">
            About </h3>
        <div class="border"></div>
        <p>Seriously, this sign up is 100% not a cult. This is just a simple parallax website on larger screens that is connected to a SQL cloud database. I used JavaScript, EJS, Node, Express, & MySQL, this not a cult. I just needed a non-MongoDB site to show that I know MySQL. Once you enter your email, it will go to my database, then display the added email numbers at the top of the page.</p>
    </div>

  <div id="second-side">
    <form method="POST" action='/register'>
      <input type="text" class="form" name="email" required placeholder="Join my email database">
      <button>Join Now</button>
    </form>
    <img id="bottom-image" src="laura-wielo2.jpg" alt="">
</div>
</div>





</div>	
</section>		
</body>
</html>

